/* Example styles */

body {
  margin: 10px;
  padding: 0;
}

h1, h2 { font-family: Arial, Helvetica, sans-serif; }

p { font-family: "Verdana", sans-serif; }

code { font-size: 120%; }

pre {
  font-size: 90%;
  width: 80%;
  margin: 4ex;
  padding: 2ex;
  background-color: #fcf3cf;
}

table {
    border: 1px solid #666666;
    border-collapse: collapse;
}

table th, td {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
}

table th {    
    background-color: #dedede;
}

